<title>Guess Game</title>
  <h1>Welcome to the guess game!</h1>
  <div>Contestants will try to guess a string's chars and the one that gets closest wins.</div>
   <div>The winner :  {{result}}  </div>
    <div>input format is "1,2,3,4,6,7,8,10"; </div>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
